/*----------------*/
/* Navigation Bar */
/*----------------*/

#nav {
    @include box-shadow(0px 2px 2px 0px rgba(#000, 0.05));
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    background-color: rgba(#fff, 0.95);
    
    &.sticky-nav {
        position: fixed;
        top: 0;
    }
    
    .row {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 70px;
        padding: 5px;
        
        .column {
            display: table-cell;
            float: none;
            vertical-align: middle;
        }
    }
    
    ul {
        margin: 0;
    }
    
    li {
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: $semibold;
        text-transform: uppercase;
    }
    
    a {
        color: $body-color;
        text-decoration: none;
    }
    
    .small-logo-container {
        margin-left: 30px;
    }
}

/* Mobile menu */
#dl-menu.dl-menuwrapper {
    float: right;
    height: 45px;
    
    button, ul {
        right: 15px;
        background-color: $blue;
    }
    
    button {
        @include transition(all 0.4s ease);
        position: absolute;
        top: 0;
        
        &.dl-active {
            background-color: $orange;
        }
    }
    
    ul {
        @include box-shadow(0px 2px 2px 0px rgba(#000, 0.05));
        top: 50px;
        left: auto;
        width: 180px;
        
        li {
            margin: 0;
        }
    }
    
    a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: $semibold;
        
        &:hover {
            background-color: $orange;
        }
    }
    
    li.dl-back:after, li > a:not(:only-child):after {
        font-family: 'FontAwesome';
        font-size: 18px;
        line-height: 40px;
        content: '\f0da';
    }
}

/* Desktop menu */
#nav-menu {
    display: none;
    
    ul {
        margin: 0;
        list-style: none;
        text-align: right;
    
        li {
            display: inline-block;
        
            a {
                display: block;
                padding: 10px 15px;
                
                &:hover, &:active {
                    color: $blue;
                }
            }
        }
    }
}