/*----------*/
/* Sections */
/*----------*/

.who-its-for-word-cloud {
    position: relative;
    
    h2 {
        position: relative;
        display: inline-block;
        margin: 0 10px;
        font-size: 2.2rem;
        line-height: 1.5;
        
        &:nth-child(even) {
            @include transform(translate(0, 25%));
        }
        
        @include breakpoint($size-md) {
            font-size: 3.6rem;
        }
        
        @include breakpoint($size-lg) {
            font-size: 4.8rem;
        }
    }
}
